{% extends "index.html" %}
{% block title %} Dashboard  {% endblock %}
{% block content %} 
{% block style %} 
<style>
.watermarked {
  position: relative;
}

.watermarked:after {
    content: "Visulization Report";
    white-space: nowrap;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4px;
    left: 669px;
    opacity: 0.7;
    z-index: 999;
    color: black;
    font-weight: bolder;
    font-size: larger;
}
</style>
{% endblock %}
<div class="container" style="margin: 0% !important; padding: 0% !important;">
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 0% !important; padding: 0% !important;">
            <div class="chart-container" >
                <figure class="figure">
                    <div class="watermarked">
                        <img src="/Dashboard/all" style="position: fixed; margin-left: 22px;" alt="Age" height="90%" width="99%">
                    </div>
                </figure>
            </div>
        </div>
        <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            &nbsp;
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <figure class="figure">
                            <img src="/Dashboard" alt="Sex Distribution">
                        </figure>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <figure class="figure">
                            <img src="/Dashboard" alt="BMI Distribution">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            &nbsp;
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <figure class="figure">
                            <img src="/Dashboard" alt="Children">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      ...
    </div> -->
</div>
<!-- <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row-xs-12 row-sm-12 row-md-12">
        
    </div>
</div> -->
<!-- <div class="col-xs-6 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <img src="/Dashboard/smoker" alt="Smokers">
            </div>
        </div>
    </div>
</div> -->
{% endblock %}

{% block script %} 
{% endblock %}