<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method='post'>
  <label for="age">Age:</label><br>
  <input type="text" id="txtage" name="age" value="0"><br>
  <label for="sex">Sex:</label><br>
  <input type="text" id="txtsex" name="sex" value="0"><br><br>
  <label for="bmi ">BMI:</label><br>
  <input type="text" id="txtbmi" name="bmi" value="0"><br><br>
  <label for="children">Children:</label><br>
  <input type="text" id="children" name="children" value="0"><br><br>
  <label for="smoker ">Smoker:</label><br>
  <input type="text" id="txtsmoker" name="smoker" value="0"><br><br>
  <label for="region">Region:</label><br>
  <input type="text" id="txtregion" name="region" value="0"><br><br>

  <label for="price">Insurence Price:</label><br>
  <h1>{{price}} </h1>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, Check the Insurence Price.</p>

</body>
</html>