{% extends "VisulizationReport.html" %}
{% block title %} Region Distribution {% endblock %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="chart-container" style="position: relative;">
                <figure class="figure">
                    <img src="/Dashboard/region" style="position: absolute; margin-left: 20%; margin-top: 4%;" alt="Region Distribution">
                </figure>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %} 
{% endblock %}